    </div>
    <div id="sidebar">
      <div class="widget">
        <ul class="tab-menu">
          <li class="active">云标签</li>
          <% if (user) { %>
            <li id="atn-tab">关注</li>
            <li>操作</li>
          <% } else { %>
            <li>关注</li>
          <% } %>
        </ul>

        <div class="tab-content show">
          <div class="tags cloud-tags">
            <a href="#">生活</a>
            <a href="#">数据结构与算法</a>
          </div>
        </div>
        <div class="tab-content">
          <div class="tags" id="attention-tags">
            <a href="http://www.cnblogs.com/lhb25/category/146076.html" title="前端" target="_blank">梦想天空</a>
            <a href="https://github.com/JacksonTian/fks" title="node.js" target="_blank">朴灵</a>
            <a href="http://ucdok.com/" title="node.js" target="_blank">老雷</a>
            <a href="http://cnodejs.org/user/nswbmw" title="node.js" target="_blank">nswbmw</a>
            <a href="http://bestcbooks.com/B00HLX035Q" target="_blank">计算机书籍控</a>
            <a href="http://www.36ria.com/" title="前端" target="_blank">明河</a>
          </div>
        </div>
        <% if (user) { %>
          <div class="tab-content">
            <div class="tags">
              <a href="/post">写文章</a>
              <a href="/upload">上传文件</a>
              <a title="存档" href="/u/<%= user.name %>">存档</a>
              <a title="所有文章" href="/archive">所有文章</a>
              <a title="看看大家" href="/All">看看大家</a>
              <a href="/logout"><span class="icon-exit"></span></a>
            </div>
          </div>
        <% } %>

      </div>
      <div class="widget"></div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <footer>
    <div id="footer-body">
      Copyright © 2014-2014 滢汐丶冰. Powered by nswbmw and <。)#)))≦. QQ:2574046554
    </div>
  </footer>
  <div class="pop-mask"></div>
  <div class="pop-box" id="add-atn">
    <div class="pop-title">
      添加关注
    </div>
    <div class="pop-content">
      <form method="post" action="/add-attention">
        <table>
          <tr>
            <td>标签名：</td>
            <td><input type="text" name="atnName"/></td>
          </tr>
          <tr>
            <td>地址：</td>
            <td><input type="text" name="address"/></td>
          </tr>
        </table>
        <input type="submit" value="确定" class="button glow button-rounded button-flat-action" style="width: 152px;"/>
        <input type="button" value="取消" class="button glow button-rounded button-flat-caution" style="width: 152px;"/>
      </form>
    </div>
  </div>
  <div class="pop-box" id="manage-atn">
    <div class="pop-title">
      关注标签管理
    </div>
    <div class="pop-content">
      <ul class="tag-manager">

      </ul>
    </div>
  </div>
  <script src="/javascripts/base.js"></script>
</body>
</html>