<%- include header %>
<div class="util">
  <div class="post_date util-icon">
    <span class="icon-enter"></span>
  </div>
  <form method="post">
    <table>
      <tr>
        <td>用户名：</td>
        <td><input type="text" name="name"/></td>
      </tr>
      <tr>
        <td>密码：</td>
        <td><input type="password" name="password"/></td>
      </tr>
    </table><br>
    <!-- 用户名：<input type="text" name="name"/><br />
    密码：  <input type="password" name="password"/><br /> -->
    <input type="submit" value="登录" class="button glow button-rounded button-flat-action"/>
  </form>
</div>
<%- include footer %>