<%- include header %>
<div class="util">
  <div class="post_date util-icon">
    <span class="icon-copy"></span>
  </div>
  <form method="post">
    标题：<br />
    <input type="text" name="title" /><br />
    标签：<br />
    <input type="text" name="tag1" style="width: 180px;"/>
    <input type="text" name="tag2" style="width: 180px;"/>
    <input type="text" name="tag3" style="width: 180px;"/><br />
    摘要: <br>
    <textarea name="summary" rows="8" cols="93"></textarea><br />
    正文：<br />
    <textarea name="post" rows="20" cols="93"></textarea><br />
    <input type="submit" value="发表" class="button glow button-rounded button-flat-action"/>
  </form>
</div>
<%- include footer %>